/*  ---- Containers ---- */
section {
  height: 100%;
}

#container-student {
  width: 85%;
  height: auto;
  text-align: left;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.24);
}

h1,
h2,
h3,
h4 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

input,
select {
  width: 100%;
  margin: 0.5rem 0;
  display: inline-block;
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 0.75rem 1.25rem;
  border: 1px solid #ccc;
}

input[type="submit"] {
  width: 100%;
  background-color: #45a049;
  color: white;
  padding: 0.875rem 1.25rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

#footer {
  height: 20%;
  width: 100%;
  bottom: 0;
}

#select-option-form {
  height: 100%;
}

#status-student {
  height: 100%;
}

section .form-control {
  width: 100%;
  background-color: white;
}
.card {
  border-radius: 1rem;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.24);
  transition: transform 0.2s;

  -webkit-box-shadow: 0px 0px 47px -3px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 47px -3px rgba(0, 0, 0, 0.35);
}
.card:hover {
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.04);
}
.obs-student {
  font-size: 1.15rem;
}
.list-group-item {
  border: 1px solid #bdd8bf;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.24);
  border-radius: 0.5rem;
}

.title {
  color: #45a049;
  text-align: center;
  font-size: 1.7rem;
}

.form-container {
  width: auto;
  padding: 1.25rem;
  text-align: left;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.24);
  border-radius: 0.313rem;
  margin-bottom: 5rem;
}

.input-group {
  position: relative;
}

.input-group button {
  position: absolute;
  right: 0;
  margin-right: 0.2rem;
  margin-top: 1.3rem;
  bottom: 0;
  top: 0;
}

#show-password {
  height: 50%;
  width: 6%;
}
@media (max-width: 991px) {
  #footer {
    height: auto;
  }
}

/* ---- Mobile ---- */
@media screen and (max-width: 500px) {
  body {
    display: inline-block;
  }

  #container-signin {
    display: flex;
    width: 100%;
  }

  .container-form-signin {
    width: 100%;
  }
}
